.app__grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px auto 100px;
  grid-template-areas:
    "n h h h h h h h h h h h"
    "n m m m m m m m m m m m"
    "n f f f f f f f f f f f"
}

.header__app {
  grid-area: h;
}

.main__app {
  grid-area: m;
}

.footer__app {
  grid-area: f;
}

.nav__app {
  grid-area: n;
  margin: auto;
}